// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
//@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

$font-stack: "Roboto", Arial, sans-serif;

body {
  background: #000000;
  font-family: $font-stack;
  color: #333;
  margin: 0;
  padding: 0;
}

.attractVideo {
  margin: 40px;
  font-size: 16px;
  font-family: $font-stack ;
  font-weight: 900;
}

.attractVideo video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  margin: auto;
  overflow: hidden;
}

.invisible-screen {
  position: fixed;
  background-color: rgba(0,0,100,0.25);
  width: 1920px;
  height: 1080px;
  left: 0;
  top: 0;
  z-index: 20;
  margin: 0;
  padding: 0;
}

.attractVideo .caption {
  position: relative;
  left: 1px;
  bottom: 0px;
  background-color: rgba(200,100,200,0.5);
  width: 100%;
}

.attractVideo .caption p {
  font-size: 6em;
  margin: 0;
  padding: 0 1em;
  text-align: center;
  color: #fff;
}

.btnMainMenu {
  float: left;
  padding: 40px;
  width: 200px;
  height: auto;
  z-index: 20;
}

canvas {
  position: fixed;
  //background-color: rgba(0,0,100,0.25);
  //width: 1920px;
  //height: 1080px;
  left: 0;
  top: 0;
  z-index: 20;
  margin: 0;
  padding: 0;
}