// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,900);

$font-stack: "Roboto", Arial, sans-serif;

body {
  background: #000000;
  font-family: $font-stack;
  color: #333;
  margin: 0;
  padding: 0;
}

.align-center {
  width: 50%;
  margin: auto;
}

.full-width-container {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  margin: auto;
  overflow: hidden;
}

.full-width-container-top {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 10;
  margin: auto;
  overflow: hidden;
}

.attractVideo {
  margin: 40px;
  font-size: 16px;
  font-family: $font-stack ;
  font-weight: 900;
}

.attractVideo video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  margin: auto;
  overflow: hidden;
}

.invisible-screen {
  position: fixed;
  background-color: rgba(0,0,100,0.25);
  width: 1920px;
  height: 1080px;
  left: 0;
  top: 0;
  z-index: 20;
  margin: 0;
  padding: 0;
}

.attractVideo .caption {
  position: relative;
  left: 1px;
  bottom: 0px;
  background-color: rgba(200,100,200,0.5);
  width: 100%;
}

.attractVideo .caption p {
  font-size: 6em;
  margin: 0;
  padding: 0 1em;
  text-align: center;
  color: #fff;
}

.bigblueball{
  z-index: 10;
}
canvas {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
// MENUS
.btn-menu {
  width: 450px;
  height: 450px;
  z-index: 30;
}

.btn-main-menu {
  padding: 0 65px 15px 65px;
}

.splash-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 30;
  overflow: hidden;

}
//
.splash-menu {
  text-align: center;
  width: 1400px;
  margin: auto;
  margin-top: 100px;
  z-index: 30;
  overflow: hidden;
}

.side-menu {
  float: right;
  width: 210px;
  padding: 10px;
  margin-top: 200px;
}

.delayed10 {

}

.quiz {
  width: 1920px;
  height: 1080px;
  position:relative;
  overflow: hidden;
  color: #fff;
  margin: 0 auto;
}
#q1{
  background: url(../images/Chap1Quiz.png) no-repeat 0px 0px;
}

.quiz .btn-container{
  position: absolute;
  display: inline-block;
  float: left;
  left: 690px;
  top: 250px;
  width: 780px;
  height: 700px;
  padding: 0px;
  margin: 0px;
}

.q1b {
  cursor: pointer;
}

.q11a{
  width: 344px;
  height: 364px;
  //background-image: url(../images/Chap1QuizImg1a.jpg);
  transition: 0.5s linear;
}
.q11b{
  background-image:url(../images/Chap1QuizImg1b.jpg);
}
.q12a{
  width: 344px;
  height: 364px;
  //background-image: url(../images/Chap1QuizImg2a.png);
  transition: 0.5s linear;
}
.q12b{
  background-image:url(../images/Chap1QuizImg2b.jpg);
}
.q13a{
  width: 344px;
  height: 364px;
  //background-image: url(../images/Chap1QuizImg3a.png);
  transition: 0.5s linear;
}
.q13b{
  background-image:url(../images/Chap1QuizImg3b.jpg);
}.q14a{
   width: 344px;
   height: 364px;
   //background-image: url(../images/Chap1QuizImg4a.png);
   transition: 0.5s linear;
 }
.q14b{
  background-image:url(../images/Chap1QuizImg4b.jpg);
}

.quiz .btn-on {
  border: 10px solid #FFFFFF;
  border-radius: 150px;
}

.btn-references{
  position: absolute;
  right: 280px;
  bottom: 210px;
  height: 80px;
  width: 230px;
}
.btn-submit{
  position: absolute;
  right: 290px;
  bottom: 90px;
  height: 110px;
  width: 225px;
}
.btn-next{
  position: absolute;
  right: 285px;
  bottom: 465px;
  height: 80px;
  width: 80px;
}

.btn-fullvideo{
  position:fixed;
  top: 0px;
  right: -50px;
}

.img-selectall {
  position:fixed;
  top: 675px;
  left: 345px;
}

// ANIMATIONS

.slider-container {
  //overflow:hidden;
  position:fixed;
  /* the container's height will determine the height of its slider  */
  height:1080px;
}

.slider {
  overflow-y: scroll;
  /* complete liquid height based on the parent's height!! */
  height:100%;

  /* only transition on transform properties which are hardware accelerated = way better performances */
  -webkit-transition:-webkit-transform .3s ease;
  -moz-transition:   -moz-transform .3s ease;
  -ms-transition:    -ms-transform .3s ease;
  transition:        transform .3s ease;
}

.slider.closed {
  /* visible */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
.slider.opened {
  /* completely offscreen */
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.answer-container {
  //overflow:hidden;
  position:fixed;
  /* the container's height will determine the height of its slider  */
  height:1080px;
}

.correct {
  overflow-y: scroll;
  /* complete liquid height based on the parent's height!! */
  height:100%;

  /* only transition on transform properties which are hardware accelerated = way better performances */
  -webkit-transition:-webkit-transform .3s ease;
  -moz-transition:   -moz-transform .3s ease;
  -ms-transition:    -ms-transform .3s ease;
  transition:        transform .3s ease;
}

.correct.closed {
  /* visible */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
.correct.opened {
  /* completely offscreen */
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.tryagain {
  overflow-y: scroll;
  /* complete liquid height based on the parent's height!! */
  height:100%;

  /* only transition on transform properties which are hardware accelerated = way better performances */
  -webkit-transition:-webkit-transform .3s ease;
  -moz-transition:   -moz-transform .3s ease;
  -ms-transition:    -ms-transform .3s ease;
  transition:        transform .3s ease;
}

.tryagain.closed {
  /* visible */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
.tryagain.opened {
  /* completely offscreen */
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.fadeout{
  opacity:0;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}