// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,900);

$font-stack: "Roboto", Arial, sans-serif;

body {
  background: #000000;
  font-family: $font-stack;
  color: #333;
  margin: 0;
  padding: 0;
}

.align-center {
  width: 50%;
  margin: auto;
}

.full-width-container {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  margin: auto;
  overflow: hidden;
}

.full-width-container-top {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 10;
  margin: auto;
  overflow: hidden;
}

.attractVideo {
  margin: 40px;
  font-size: 16px;
  font-family: $font-stack ;
  font-weight: 900;
}

.attractVideo video {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  margin: auto;
  overflow: hidden;
}

.invisible-screen {
  position: fixed;
  background-color: rgba(0,0,100,0.25);
  width: 1920px;
  height: 1080px;
  left: 0;
  top: 0;
  z-index: 20;
  margin: 0;
  padding: 0;
}

.attractVideo .caption {
  position: relative;
  left: 1px;
  bottom: 0px;
  background-color: rgba(200,100,200,0.5);
  width: 100%;
}

.attractVideo .caption p {
  font-size: 6em;
  margin: 0;
  padding: 0 1em;
  text-align: center;
  color: #fff;
}

.bigblueball{
  z-index: 10;
}
canvas {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
// MENUS
.btn-menu {
  width: 450px;
  height: 450px;
  z-index: 30;
}

.btn-main-menu {
  padding: 0 65px 15px 65px;
}

.splash-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 30;
  overflow: hidden;

}
//
.splash-menu {
  text-align: center;
  width: 1400px;
  margin: auto;
  margin-top: 100px;
  z-index: 30;
  overflow: hidden;
}

.side-menu {
  float: right;
  width: 210px;
  padding: 10px;
  margin-top: 200px;
}

.delayed10 {

}



.quiz {
  width: 1920px;
  height: 1080px;
  position:relative;
  overflow: hidden;
  color: #fff;
  margin: 0 auto;
}
#q1{
  background: url(../images/q1.png) no-repeat 0px 0px;
}

.quiz .btn-container{
  position: absolute;
  display: inline-block;
  left: 545px;
  top: 150px;
  width: 750px;
  height: 700px;
  padding: 50px;
  margin: 100px;
}

.q1b {
  width: 285px;
  height: 325px;
  cursor: pointer;
  padding: 0px 20px 25px 20px;
}

.quiz .btn-on {
  border: 10px solid #FFFFFF;
  border-radius: 150px;
}

.btn-references{
  position: absolute;
  right: 280px;
  bottom: 210px;
  height: 80px;
  width: 230px;
}
.btn-submit{
  position: absolute;
  right: 290px;
  bottom: 90px;
  height: 110px;
  width: 225px;
}
.btn-next{
  position: absolute;
  right: 285px;
  bottom: 465px;
  height: 80px;
  width: 80px;
}

.slider {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 0;
}

// ANIMATIONS

.my-toggle-animation {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  background:white;
  padding:10px;
  border:1px solid rgba(0, 0, 0, 0.7);
  color:black;
}
.my-toggle-animation.addNewClass {
  background: #5b86c7;
  color:#fff;
  border-color:#496ca0;
}
