
<div class="attractVideo">
<!--<div data-ng-controller="AttractController as controller" class="attractVideo">-->
    <videogular data-vg-theme="attractConfig.theme"
                data-vg-auto-play="attractConfig.autoPlay"
                data-vg-update-time="checkAttractTime($currentTime,$duration)"
                data-vg-complete="restartAttract()">
        <vg-media data-vg-src="attractConfig.sources"></vg-media>
        <!--<div>-->
            <!--<img class="invisible-screen" src="/images/blank.png" data-ng-click="navTo('mainmenu')">-->
        <!--</div>-->
        <!--<div class="caption">-->
            <!--<p>Touch to explore</p>-->
        <!--</div>-->
    </videogular>
    <div id="container">
        <canvas id="myCanvas" width="1920 " height="1080" ng-click="navTo('mainmenu')">

        </canvas>
    </div>
</div>

