<div data-ng-controller="AttractController">

    <div class="full-width-container">

        <videogular data-vg-player-ready="onPlayerReady($API)"
                    data-vg-theme="attractConfig.theme"
                    data-vg-auto-play="attractConfig.autoPlay"
                    data-vg-complete="restartAttract()">

            <vg-media data-vg-src="attractConfig.sources"></vg-media>

        </videogular>

        <div id="full-width-container">

            <canvas id="myCanvas" width="1920 " height="1080" ng-click="navTo('mainmenu')">

            </canvas>

        </div>

    </div>

</div>

