<div class="full-width-container" data-ng-controller="Ch11Controller">
    <div class="align-center">
        <h1>
            CHAPTER 1
        </h1>
        <h2>
            Supportive Tumor Microenvironment.
            A brief description of the supportive tumor
            microenvironment will appear followed by
            an animation that will play from an excerpt
            of the video without VO.
        </h2>
        <button ng-click="navTo('ch12')">Next</button>
    </div>

</div>