<div class="full-width-container">

    <div data-ng-controller="Ch11Controller">

        <videogular data-vg-player-ready="onPlayerReady($API)"
                    data-vg-theme="config.theme"
                    data-vg-auto-play="config.autoPlay"
                    data-vg-complete="complete()">

            <vg-media data-vg-src="config.sources"></vg-media>

        </videogular>

        <div id="container">

            <canvas id="myCanvas" width="1920 " height="1080")>
            <!--<canvas id="myCanvas" width="1920 " height="1080" ng-click="navTo('c1.2')">-->

            </canvas>

        </div>

    </div>

    <!-- END ch11-controller -->

    <div>
        <div ui-view="chaptersection"></div>
    </div>

</div>