<div class="full-width-container-top" ng-show="whatPartIsThis(1)">
    <div class="quiz-container">

        <div class="quiz" id="q1">

            <div class="btn-container">

                <img class="btn q1b1" src="images/Chap1QuizCircleImage1.png" data-ng-click="console.log('potato')">
                <img class="btn q1b2" src="images/Chap1QuizCircleImage2.png" alt="">
                <img class="btn q1b3" src="images/Chap1QuizCircleImage3.png" alt="">
                <img class="btn q1b4" src="images/Chap1QuizCircleImage4.png" alt="">

            </div>
        </div>
    </div>
</div>
