<div class="full-width-container-top">

    <div class="quiz-container">

        <div class="quiz" id="q3">

            <div class="btn-container">

                <span>
                    <span>
                        <img ng-click="boolQ11($event)" ng-class="{q31b: currentState1}" class="q1b q11a" ng-src="images/Chap3QuizImg1a.png">
                    </span>
                    <span>
                        <img ng-click="boolQ12($event)" ng-class="{q32b: currentState2}" class="q1b q12a" ng-src="images/Chap3QuizImg2a.png">
                    </span>

                    <span>
                        <img ng-click="boolQ13($event)" ng-class="{q33b: currentState3}" class="q1b q13a" ng-src="images/Chap3QuizImg3a.png">
                    </span>
                    <span>
                        <img ng-click="boolQ14($event)" ng-class="{q34b: currentState4}" class="q1b q14a" ng-src="images/Chap3QuizImg4a.png">
                    </span>
                </span>
            </div>
            <div>
                <img id="btnRef" class="btn-references" data-ng-src="images/blank.png" alt="" data-ng-click="toggleRef()">
            </div>
            <div>
                <img class="img-selectall" data-ng-src="images/Chap1SelectAll.png" ng-show="showSelectAll">
            </div>
            <div>
                <img class="btn-submit" data-ng-src="images/blank.png" alt="" data-ng-click="evaluateQuiz()">
            </div>
            <div>
                <img class="btn-next" data-ng-src="images/blank.png" alt="" data-ng-click="navTo( 'c3.snapshot' )">
            </div>
            <div>
                <img class="btn-fullvideo" data-ng-src="images/main_nav_top_right.png" alt="" data-ng-click="showFullVideo()">
            </div>

        </div>
        <div class="slider-container">
            <div class="slider closed" ng-click="toggleSlider('.slider')">
                <img src="images/Chap3QuizRefs.png" alt="">
            </div>
        </div>
        <div class="slider-container">
            <div class="slider1 closed" ng-click="toggleSlider('.slider1')">
                <img src="images/Chap1Correct.png" alt="">
            </div>
        </div>
        <div class="slider-container">
            <div class="slider2 closed" ng-click="toggleSlider('.slider2')">
                <img src="images/Chap1TryAgain.png" alt="">
            </div>
        </div>

    </div>
</div>

