<div class="full-width-container-top">

    <div class="snapshot-container">
        <div id="s3" class="snapshot">
            <div class="btn-container">

                <span>
                    <span>
                        <img ng-click="toggleSlider('.slider1')" class="q2b " ng-src="images/Chap3SnapshotImg1.png">
                    </span>
                    <span>
                        <img ng-click="toggleSlider('.slider2')" class="q2b " ng-src="images/Chap3SnapshotImg2.png">
                    </span>
                    <span>
                        <img ng-click="toggleSlider('.slider3')" class="q2b " ng-src="images/Chap3SnapshotImg3.png">
                    </span>
                </span>
            </div>
            <div>
                <img id="btnRef" class="btn-references-btm" data-ng-src="images/blank.png" alt=""
                     data-ng-click="toggleRef()">
            </div>
            <div>
                <img class="img-msg" data-ng-src="images/Chap1TouchtoLearn.png" ng-show="showMsg">
            </div>

            <div>
                <img class="btn-prev" data-ng-src="images/blank.png" alt="" data-ng-click="navTo( 'c3.quiz' )">
            </div>
            <div>
                <img class="btn-next" data-ng-src="images/blank.png" alt="" data-ng-click="navTo( 'c3.teaser' )">
            </div>
            <div>
                <img class="btn-fullvideo" data-ng-src="images/main_nav_top_right.png" alt="" data-ng-click="showFullVideo()">
            </div>

        </div>
        <div class="slider-container">
            <div class="slider closed" ng-click="toggleSlider('.slider')">
                <img src="images/Chap3SnapshotRefs.png" alt="">
            </div>
        </div>
        <div class="slider-container">
            <div class="slider1 closed" ng-click="toggleSlider('.slider1')">
                <img src="images/Chap3SnapshotFeature1.png" alt="">
            </div>
        </div>
        <div class="slider-container">
            <div class="slider2 closed" ng-click="toggleSlider('.slider2')">
                <img src="images/Chap3SnapshotFeature2.png" alt="">
            </div>
        </div>
        <div class="slider-container">
            <div class="slider3 closed" ng-click="toggleSlider('.slider3')">
                <img src="images/Chap3SnapshotFeature3.png" alt="">
            </div>
        </div>
    </div>
</div>


