<!--<div class="full-width-container">-->
<div class="subnav">

    <span class="subnav-text" ng-class="subnavstate">
        <img src="images/subNavFly.png">
    </span>

    <span class="subnav-img" ng-click="flipSubNav()">
        <img src="images/subNav.png">
    </span>

</div>
<div>
    <img class="btn-side-body"
         data-ng-src="images/blank.png"
         alt=""
         data-ng-click="flipSubNav()"
         data-ng-show="boolSideNavOpen">
</div>

<div class="side-menu-sm" data-ng-hide="boolSideNavOpen">
    <img ng-show="isChapterNumber === 1" class="btn-side-menu-sm" data-ng-src="images/white.png" ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 1" class="btn-side-menu-sm" data-ng-src="images/blank.png" ng-click="flipSubNav()">

    <img ng-show="isChapterNumber === 2"  class="btn-side-menu-sm" data-ng-src="images/white.png" ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 2"  class="btn-side-menu-sm" data-ng-src="images/blank.png" ng-click="flipSubNav()">

    <img ng-show="isChapterNumber === 3"  class="btn-side-menu-sm" data-ng-src="images/white.png" ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 3"  class="btn-side-menu-sm" data-ng-src="images/blank.png" ng-click="flipSubNav()">

    <img ng-show="isChapterNumber === 4"  class="btn-side-menu-sm" data-ng-src="images/white.png" ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 4"  class="btn-side-menu-sm" data-ng-src="images/blank.png" ng-click="flipSubNav()">
</div>

<div class="side-menu" data-ng-show="boolSideNavOpen">
    <img ng-show="isChapterNumber === 1" class="btn-side-menu" data-ng-src="images/white.png"  ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 1" class="btn-side-menu" data-ng-src="images/blank.png" alt="" data-ng-click="navTo('c1.tranz')">

    <img ng-show="isChapterNumber === 2"  class="btn-side-menu" data-ng-src="images/white.png" ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 2"  class="btn-side-menu" data-ng-src="images/blank.png" alt="" data-ng-click="navTo('c2.tranz')">

    <img ng-show="isChapterNumber === 3"  class="btn-side-menu" data-ng-src="images/white.png" ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 3"  class="btn-side-menu" data-ng-src="images/blank.png" alt="" data-ng-click="navTo('c3.tranz')">

    <img ng-show="isChapterNumber === 4"  class="btn-side-menu" data-ng-src="images/white.png" ng-click="flipSubNav()">
    <img ng-hide="isChapterNumber === 4"  class="btn-side-menu" data-ng-src="images/blank.png" alt="" data-ng-click="navTo('c4.tranz')">
</div>

<div>
    <img class="btn-fullvideo2" data-ng-src="images/main_nav_top_right.png" alt="" data-ng-click="showFullVideo()">
</div>

<!--</div>-->


