
    <div class="teaser">

        <span class="videogular-container">

            <videogular data-vg-player-ready="onPlayerReady($API)"
                        data-vg-theme="config.theme"
                        data-vg-auto-play="config.autoPlay"
                        data-vg-complete="complete()">

                <vg-media data-vg-src="config.sources"></vg-media>

            </videogular>

        </span>

    </div>

    <div id="t1" class="teaser">
        <div class="btn-teaser-play" ng-click="navTo('c1.video')">
            <img src="images/CircleArrowButton.png" alt="">
        </div>
    </div>